/* header area style */
body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
}
.banner{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}
.title{
    display: flex;
    width: 600px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    line-height: normal;
    font-style: normal;
    margin: 160px auto auto;
}
.para{
    display: flex;
    width: 634px;
    flex-shrink: 0;
    flex-direction: column; 
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px auto auto 40px;
}
.img1{
    margin: 50px 24px auto auto;
    flex-shrink: 0;

}
.primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin: 35px auto 67px 40px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    }
/* main-features style */
.features{
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    text-align: center;

}
.f-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 250px auto 24px;
    margin: 150px auto 24px;
}
.f-description{
    display: flex;
    width: 594px;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 5px 350px;
}

/* 3dlowers */

.flowers{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    display: inline-flex;
    gap: 24px;
    margin: 50px 30px 50px; 
   
    
}

.flowers-1{
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 200px 200px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.flowers-2{
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 200px 200px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.flowers-3{
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 200px 200px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.img2{
    align-self: center;
    margin: 110px 76px 78px 0px;
    padding:  110px 76px 78px 0px;
    align-content: center;
}
.text1{
    display: inline-flex;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    gap: 307px;
    margin: 0px 150px auto 160px; 
    padding-top: 0;
    row-gap: 5px;
  
    }

    /* 4th-para */
.fth-para{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    display: flex;
    gap: 180px;
    align-content: center;
    margin:  40px 130px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    height: 300px;
    flex-shrink: 0;
        
}
.picndec{
    align-content: center;
    padding: 50px 40px;
    align-content: center;
    
}

/* hot deal */
.section8{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-content: center;
    gap: 150px;
   
}
.hotdeal-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
span{
    color: #E55473;
}
.hotdeal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
}
.flower8{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
}
.section8{
    display: flex;
}
.hot-deals{
    margin: 40px 80px 20px;
    text-align: center;
    
}
.signup{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
}

/* instagram */
.insta-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 200px;
}
.insta-discription{
    display: flex;
    width: 594px;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 350px;
    margin-top: 0px;
}

/* fourpics */
.four-pics{
    flex-shrink: 0;
    display: flex;
   
    padding: 20px;
}
.fourpics{
    max-height: 276px;
    width: auto;
    gap: 40px;
    align-content: center;
    margin: 20px auto 20px;

}

/* subscribe */
.subscribe{
    background-image: url(Flower\ Asset/Rectangle9.png);
    height: 372px;
    flex-shrink: 0;
    margin: 50px 62px;
}

.s-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 5px;
    align-content: center;
    display: flex;
    padding: 110px 390px 0px;
    }
.s-discription{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0px;
    margin-top: 0px;
    }
.email{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}
.s-btn{
    display: flex;
    width: 78px;
    height: 22.429px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    align-items: center;
    border: 0;
    padding: 18.29px 31px;
} 
.input{
    display: flex;
    gap: 5px;
    padding: 10px 150px 0px;
    border: 0px;    
}

/* black background */
.footer{
    background-color:#111010 ;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;

}
.f-title{
    color:  #E55473;
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 250px 450px ;
    padding: 120px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }
.shop{
    color: #FFFFFF;
}

.f-discription{
    margin: 0px 360px;
    padding-top: 0px;
    display: flex;
    width: 625px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}