/* header area style */
body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
}
.banner{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}
.title{
    display: flex;
    width: 600px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    line-height: normal;
    font-style: normal;
    margin: 160px auto auto;
}
.para{
    display: flex;
    width: 634px;
    flex-shrink: 0;
    flex-direction: column; 
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px auto auto 40px;
}
.img1{
    margin: 50px 24px auto auto;
    flex-shrink: 0;

}
.primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin: 35px auto 67px 40px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    }
/* main-features style */
.features{
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    text-align: center;

}
.f-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 250px auto 24px;
    margin: 150px auto 24px;
}
.f-description{
    display: flex;
    width: 594px;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 5px 350px;
}